.form {
    position: absolute;
    margin-top: 200px;
    width:250px;
    margin-left: auto;
}

input.form-control:valid{
    background-color: mintcream;
}
input.form-control:invalid{
    background-color: #ffeeed;
}
.fa{
    display: inline-block;
    left: 7px;
    position: relative;
    color: white;
}
input[type="text"],input[type="password"],input[type="email"]{
    padding-left:30px;

}

.btn{
    margin-top:20px;
}