html,body{
    background-color: black;
    color: white;
    width:100%;
    height: 100%;
    margin: 0;
}
.left-div{
    /*background-color: darkgoldenrod;*/
    float: left;
    height: 100%;
    width:15%;
    /* position: absolute; */
}

.left-div .cart-iden{
    width: 100%;
    margin-left: 10%;
    margin-top: 50px;
}

.left-div .cart-iden span{
    font-family: "Arial Unicode MS";
    font-size: 20px;
}

.left-div .cart{
    width: 15%;
}
.main-div{
    /*background-color: darkslategrey;*/
    float: left;
    height: 100%;
    width: 70%;
    /* position: absolute; */
} 
.right-div{
    /*background-color: darkslateblue;*/
    float: left;
    height: 100%;
    width: 15%;
    /* position: absolute; */
} 
.right-div .logo{
    width: 100%;
}

.right-div .user{
    width: 15%;
}

.right-div a{
    color: white;
}

.right-div div{
    margin-left: 30px;
}
