.all-sort-list {
    position: relative;
    float: left;
    width: 228px;
    border-top: none;
    background: #000;
    height: 100%;
}

.all-sort-list .item {
    height: 49px;
    border-top: 1px solid #FFFFFF;
}

.all-sort-list .item.bo {
    border-top: none;
}

.all-sort-list .item h3 {
    height: 30px;
    line-height: 45px;
    font-size: 15px;
    font-weight: normal;
    width: 199px;
    overflow: hidden;
}

.all-sort-list .item span {
    padding: 0px 5px;
    color: #1baeae;
    font-family: "\5B8B\4F53";
}

.all-sort-list .item a {
    color: #fff;
    text-decoration: none;
}

.all-sort-list .item a:hover {
    font-weight: bold;
    color: #1baeae;
}

.all-sort-list .item-list {
    display: none;
    position: absolute;
    width: 495px;
    min-height: 200px;
    _height: 200px;
    background: #FFF;
    left: 210px;
    box-shadow: 0px 0px 10px #DDDDDD;
    border: 1px solid #DDD;
    top: 3px;
    z-index: 10;
}

.item-list .subitem {
    float: left;
    width: 477px;
    padding: 0px 4px 0px 8px;
}

.item-list .subitem dl {
    border-top: 1px solid #EEE;
    padding: 6px 0px;
    overflow: hidden;
    zoom: 1;
}

.item-list .subitem .fore1 {
    border-top: none;
}

.item-list .subitem dt {
    float: left;
    width: 84px;
    line-height: 20px;
    text-align: left;
    padding: 3px 6px 0px 0px;
    font-weight: 700;
    color: #1baeae;
}

.item-list .subitem dt a {
    color: #1baeae;
    text-decoration: underline;
}

.item-list .subitem dd {
    float: left;
    width: 415px;
    padding: 3px 0px 0px;
    overflow: hidden;
}

.item-list .subitem dd em {
    float: left;
    height: 14px;
    line-height: 14px;
    padding: 0px 8px;
    margin-top: 5px;
    border-left: 1px solid #CCC;
}

.item-list .subitem dd em a, .item-list .cat-right dd a {
    color: #666;
    text-decoration: none;
}

.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover {
    font-weight: normal;
    text-decoration: underline;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#content #banner {
    width: 1226px;
    flex-shrink: 0;
    height: 447px;
}

#content #banner #cate_menu {
    width: 234px;
    height: 100%;
    background-color: #0c0c13;
    box-sizing: border-box;
    position: relative;
}

#content #banner #cate_menu > ul {
    position: relative;
    padding: 20px 0;
}

#content #banner #cate_menu > ul:hover li:last-of-type {
    display: block;
}

#content #banner #cate_menu > ul > li {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 30px;
    font-size: 14px;
}

#content #banner #cate_menu > ul > li:last-of-type {
    display: none;
    padding: 0;
    width: 800px;
    height: 461px;
    z-index: 2;
    position: absolute;
    left: 100%;
    top: 0;
}

#content #banner #cate_menu > ul > li:hover {
    background-color: #1baeae;
}

#content #banner #cate_menu > ul > li a {
    color: #fff;
    margin-left: 10px;
}

#content #banner #cate_menu > ul > li .pop {
    box-shadow: 2px 3px 5px #ccc;
    width: 800px;
    height: 461px;
    background-color: #fff;
    padding: 20px 0 0 20px;
    font-size: 12px;
    box-sizing: border-box;
}

#content #banner #cate_menu > ul > li .pop > li {
    margin-bottom: 10px;
    white-space: nowrap;
}

#content #banner #cate_menu > ul > li .pop > li .title {
    float: left;
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

#content #banner #cate_menu > ul > li .pop > li .title .iconfont {
    font-size: 12px;
}

#content #banner #cate_menu > ul > li .pop > li .list {
    float: left;
    max-width: 700px;
}

#content #banner #cate_menu > ul > li .pop > li .list li {
    float: left;
    margin-top: 2px;
    margin-bottom: 5px;
}

#content #banner #cate_menu > ul > li .pop > li .list li a {
    display: block;
    height: 16px;
    margin-left: 0;
    line-height: 16px;
    white-space: nowrap;
    padding: 0 10px;
    text-align: center;
    color: #666;
    border-left: 1px solid #e0e0e0;
}

#content #banner #cate_menu > ul > li .pop > li .list li a:hover {
    color: #1baeae;
}

#content #banner .swiper-container {
    width: 998px;
    height: 100%;
}

#content #banner .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}

#content #sub_banner {
    display: flex;
    width: 1226px;
    flex-shrink: 0;
    justify-content: space-between;
    height: 295px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content #sub_banner .selector {
    width: 234px;
    height: 100%;
}

#content #sub_banner .selector .sidebar {
    float: left;
    display: block;
    width: 78px;
    height: 85px;
}

#content #sub_banner .selector .sidebar img {
    opacity: 0.8;
}

#content #sub_banner .selector .sidebar img:hover {
    opacity: 1;
}

#content #sub_banner .hot-image {
    width: 295px;
    height: 295px;
}

#content #sub_banner .hot-image a {
    display: block;
    width: 100%;
    height: 100%;
}

#content #sub_banner .hot-image a img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#content #sub_banner .hot-image a img:hover {
    opacity: 1;
}

