body {
    background: #14212a;
}

.top {
    width: 100%;
    height: 100px;
    background: #fff;
}

.top .logo {
    margin-top: 30px;
    width: 750px;
    height: 100px;
}

.top .logo img {
    border: none;
}

.form {
    width: 1130px;
    height: 588px;
    background: url("../image/login_bg.png") no-repeat center center;
}

.form .login {
    width: 400px;
    height: 470px;
    margin: 30px auto;
    background: #444;
    color: #fff;
    margin-right: 0px;
    border-radius: 4px;
    font: 12px "宋体", Times New Roman;
}

.form .login .login_center {
    width: 360px;
    margin: 10px auto;
    padding: 30px 0;
}

.form .login .login_center.hide {
    display: none;
}

.form .login .login_center .login_top {
    margin: 10px 0;
}

.form .login .login_center .login_top .left {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.form .login .login_center .login_top .right {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}

.form .login .login_center .login_top .right a {
    color: #1baeae;
    font-weight: bold;
}

.form .login .login_center .login_top .right a:hover {
    color: #1baeae;
}

.form .login .login_center .login_top .under-line {
    height: 2px;
    background: #1baeae;
    margin: 8px 0;
}

.form .login .login_center .login_main {
    padding: 5px 0;
}

.form .login .login_center .login_main input:focus {
    border: 1px solid #1baeae;
}

.form .login .login_center .login-info {
    font: 16px Times New Roman;
    height: 40px;
    line-height: 40px;
    margin: 35px 0;
}

.form .login .login_center .login-info .login-info-input {
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.form .login .login_center .login-info .verify-code {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
}

.form .login .login_center .login-info .send {
    width: 100px;
    height: 42px;
    margin-left: 12px;
}

.form .login .login_center .login_submit .submit {
    border: none;
    width: 240px;
    height: 45px;
    margin-left: 55px;
    background: #1baeae;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
}
