{% extends "layout.html" %}
{% block content %}
{#    <h1>Home Page</h1>#}
{#    {% for post in posts %}#}
{#        <h2>User Name: {{ post.user }}</h2>#}
{#        <h2>Password: {{ post.password }}</h2>#}
{#        <h4>Items: {{ post.item }}</h4>#}
{#    {% endfor %}#}
{#    <img src="{{ url_for('video_feed') }}">#}
{#   <img src="{{ url_for('video_feed') }}" width="100%">#}
{% endblock content %}