<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
        <title>{{ title }} Page</title>
    {% else %}
        <title>Flask Page</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="left-div">
        <div class="cart-iden">
            <img class="cart" src="{{ url_for('static', filename= '/img/cart.png') }}">
            <span>Your Cart</span><br>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('tryon') }}">
                <img src="{{ url_for('static', filename='/img/tshirt.png') }}" width="100px")>
{#              <img src="{{ url_for('static', filename= '/img/logo.001.png') }}">#}
            </a>
            {% endif %}

        </div>
        <div class="items">

        </div>
    </div>

    <div class="main-div">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
                {% block content %}
                {% endblock content %}
    </div>
    <div class="right-div">
{#        {% with current_user = User.query.filter_by(username='Jingyu'.first()) %}#}
        <img class="logo" src="{{ url_for('static', filename= '/img/logo.001.png') }}">
        {% if current_user.is_authenticated %}

            <div class=user-login>
                <img class="user" src="{{ url_for('static', filename= '/img/user.png') }}">
                <spam>{{ current_user.username }}</spam>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        {% else %}
            <div class="user-login">
                <img class="user" src="{{ url_for('static', filename= '/img/user.png') }}">
                <a href="{{ url_for('login') }}">Login</a>
            </div>
        {% endif %}
{#        {% endwith %}#}
    </div>
</body>
</html>