{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <div class="form row">
                <form method="POST" action="" class="login-form">
                    {{ form.hidden_tag() }}
                    <div class="col-sm-9 col-md-9">
                        <div class="form-group">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}
{#                            <input class="form-control" type="text" name="username" id="username" placeholder="User Name" required autofocus>#}
                        </div>
                        <div class="form-group">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control") }}
                            {% endif %}
{#                            <input class="form-control " type="password" name="password" id="password" placeholder="Password" required>#}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-light") }}
{#                            <input type="submit" value="Login" class="btn btn-light">#}
                        </div>
                    </div>
                </form>
            </div>
    </div>
{% endblock content %}