<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmARtFit-Mall-ShoppingCart</title>
    <link rel="stylesheet" th:href="@{mall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{mall/css/common.css}">
    <link rel="stylesheet" th:href="@{mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{mall/styles/cart.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
</head>
<body>

<div id="cart">
    <div class="banner_x center">
        <a th:href="@{/index}" target="_blank">
            <div class="logo fl">
                <img src="mall/image/logo-3.png"/>
            </div>
        </a>

        <div class="wdgwc fl ml20">Shopping Cart</div>
        <div class="clear"></div>
    </div>
    <div class="cart_line"></div>
    <div class="cart_bg">
        <th:block th:if="${#lists.isEmpty(myShoppingCartItems)}">
            <div class="list center">
                <img style="position: absolute;margin-top: 16px;left: 45%;" th:src="@{/mall/image/null-content.png}">
            </div>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(myShoppingCartItems)}">
            <div class="list center">
                <div class="top2 center">
                    <div class="sub_top fl">
                    </div>
                    <div class="sub_top fl">Product</div>
                    <div class="sub_top fl">Price</div>
                    <div class="sub_top fl">Number</div>
                    <div class="sub_top fl">Total</div>
                    <div class="sub_top fr">Delete</div>
                    <div class="clear"></div>
                </div>
                <th:block th:each="item : ${myShoppingCartItems}">
                    <div class="content2 center">
                        <div class="sub_content fl ">
                        </div>
                        <div class="sub_content cover fl"><img th:src="@{${item.goodsCoverImg}}"></div>
                        <div class="sub_content fl ft20" th:text="${item.goodsName}">Product</div>
                        <div class="sub_content fl" th:text="${'$'+item.sellingPrice}"$>1299</div>
                        <div class="sub_content fl">
                            <input class="goods_count" th:id="${'goodsCount'+item.cartItemId}" type="number"
                                   th:onblur="'updateItem('+${item.cartItemId}+')'"
                                   th:value="${item.goodsCount}" step="1" min="1"
                                   max="5">
                        </div>
                        <div class="sub_content fl" th:text="${'$'+item.goodsCount*item.sellingPrice}">$1299</div>
                        <div class="sub_content fl"><a href="##" th:onclick="'deleteItem('+${item.cartItemId}+')'">×</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </th:block>
            </div>
        </th:block>
        <div class="pre_order mt20 center">
            <div class="tips fl ml20">
                <ul>
                    <li><a th:href="@{/index}">Continue Shopping</a></li>
                    <li>|</li>
                    <li>Total&nbsp;<span th:text="${itemsTotal}">13</span>&nbsp;products</li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="order_div fr">
                <div class="order_total fl">Total Price：$<span th:text="${priceTotal}+'.00'">1299.00</span></div>
                <div class="order_button fr">
                    <th:block th:if="${itemsTotal == 0}">
                        <input class="order_button_c" type="button" name="tip"
                               onclick="tip()"
                               value="Pay"/>
                    </th:block>
                    <th:block th:unless="${itemsTotal == 0}">
                        <input class="order_button_d" type="button" name="settle"
                               onclick="settle()"
                               value="Pay"/>
                    </th:block>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div th:replace="mall/footer::footer-fragment"></div>

</body>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script type="text/javascript">

    /**
     * total number = 0
     */
    function tip() {
        swal("No product", {
            icon: "error",
        });
    }

    /**
     * Jump to payment page
     */
    function settle() {
        window.location.href = '/shop-cart/settle'
    }

    /**
     * Renew Product
     *
     * todo count the products
     */
    function updateItem(id) {
        var domId = 'goodsCount' + id;
        var goodsCount = $("#" + domId).val();
        if (goodsCount > 5) {
            swal("The maximum number for each product in one order is 5", {
                icon: "error",
            });
            return;
        }
        if (goodsCount < 1) {
            swal("Counting Error", {
                icon: "error",
            });
            return;
        }
        var data = {
            "cartItemId": id,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'PUT',
            url: '/shop-cart',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    window.location.reload();
                } else {
                    swal("Failure", {
                        icon: "error",
                    });
                }
            },
            error: function () {
                swal("fail", {
                    icon: "error",
                });
            }
        });
    }

    /**
     * * Delete Product
     * @param id
     */
    function deleteItem(id) {
        swal({
            title: "Confirm",
            text: "Are you sure you want to delete this?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((flag) => {
                if (flag) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/shop-cart/' + id,
                        success: function (result) {
                            if (result.resultCode == 200) {
                                window.location.reload();
                            } else {
                                swal("fail", {
                                    icon: "error",
                                });
                            }
                        },
                        error: function () {
                            swal("fail", {
                                icon: "error",
                            });
                        }
                    });
                }
            }
        )
        ;
    }
</script>
</html>
