<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('MirrarMall-PaymentMethod','pay-select')">
</head>
<body>
<div class="page-main">
    <div class="container confirm-box">
        <form target="_blank" action="#" id="J_payForm" method="post">
            <div class="section section-order">
                <div class="order-info clearfix">
                    <div class="fl">
                        <h2 class="title">Paying the order～</h2>
                        <input type="hidden" id="orderNoValue" th:value="${orderNo}">
                        <p class="order-time" id="J_deliverDesc">Order#：
                            <th:block th:text="${orderNo}"></th:block>
                        </p>
                    </div>
                    <div class="fr">
                        <p class="total">
                            Price Total：<span class="money"><em><th:block
                                th:text="${'$'+totalPrice+'.00'}"></th:block></em></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="section section-payment">
                <div class="cash-title" id="J_cashTitle">
                    Select a Payment Method
                </div>

                <div class="payment-box ">
                    <div class="payment-header clearfix">
                        <h3 class="title">Payment Platform</h3>
                        <span class="desc"></span>
                    </div>
                    <div class="payment-body">
                        <ul class="clearfix payment-list J_paymentList J_linksign-customize">
                            <li class="pay_visa">
                                <input type="radio" name="payOnlineBank" id="visa" value="visa">
                                <img onclick="payOrder(1)" th:src="@{/mall/image/visa.png}" alt="visa"
                                     style="margin-left: 0;"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript">
    //notic
    $('.J_bank').click(function () {
        alert('fail');
    })

    function payOrder(payType) {
        var orderNo = $("#orderNoValue").val();
        window.location.href = '/payPage?orderNo=' + orderNo + "&payType=" + payType;
    }
</script>
</body>
</html>
