<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="lfnav fl" th:fragment="sidebar-fragment">
    <div class="nav_title">Personal Page</div>
    <div class="title_list">
        <ul>
            <li><a th:href="@{'/personal'}" th:class="${path=='personal'?'active':''}">Personal Info</a></li>
            <li><a th:href="@{'/orders'}" th:class="${path=='orders'?'active':''}">My Orders</a></li>
            <li><a th:href="@{'/logout'}">Log out</a></li>
        </ul>
    </div>
</div>
</html>
