<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmARtFitMall-Register</title>
    <link rel="stylesheet" th:href="@{mall/css/common.css}">
    <link rel="stylesheet" th:href="@{mall/styles/login.css}">
    <link rel="stylesheet" th:href="@{mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
</head>
<body>
<div class="top center">
    <div class="logo center">
        <a href="./index.html" target="_blank"><img src="mall/image/login-logo-2.png" alt=""></a>
    </div>
</div>

<div class="form center">
    <div class="login">
        <div class="login_center">
            <div class="login_top">
                <div class="left fl">Register</div>
                <div class="right fr">Do you already have an account? <a href="login.html" target="_self">Log in</a></div>
                <div class="clear"></div>
                <div class="under-line center"></div>
            </div>
            <form id="registerForm" onsubmit="return false;" action="##">
                <div class="login_main center">
                    <div class="login-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone:&nbsp;<input class="login-info-input" type="text" name="loginName"
                                                                                             placeholder="Type in your phone number" id="loginName"/>
                    </div>
                    <div class="login-info">Password:&nbsp;<input class="login-info-input"
                                                                  type="password"
                                                                  name="password"
                                                                  id="password"
                                                                  placeholder="Type in your password"/>
                    </div>
<!--                    <div class="login-info">-->
<!--                        Verify Code:&nbsp;-->
<!--                        <input class="login-info-input verify-code" type="text" name="verifyCode" id="verifyCode"-->
<!--                               placeholder=""/>-->
<!--                        <img alt="refresh！" style="top: 16px;position: relative;" th:src="@{/common/mall/kaptcha}"-->
<!--                             onclick="this.src='/common/mall/kaptcha?d='+new Date()*1">-->
<!--                    </div>-->
                </div>
                <div class="login_submit">
                    <input class="submit" type="button" onclick="register()" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script type="text/javascript">

    function register() {
        var loginName = $("#loginName").val();
        if (!validUserName(loginName)) {
            swal('Please enter a valid user name', {
                icon: "error",
            });
            return false;
        }
        var password = $("#password").val();
        if (!validPassword(password)) {
            swal('Please enter a valid password with 6-20 digits or characters', {
                icon: "error",
            });
            return false;
        }
        // var verifyCode = $("#verifyCode").val();
        // if (!validLength(verifyCode, 5)) {
        //     swal('Please enter a valid verify code', {
        //         icon: "error",
        //     });
        //     return false;
        // }
        var params = $("#registerForm").serialize();
        var url = '/register';
        $.ajax({
            type: 'POST',
            url: url,
            data: params,
            success: function (result) {
                if (result.resultCode == 200) {
                    swal({
                        title: "success",
                        text: "Would like to go back to log in page?",
                        icon: "success",
                        buttons: true,
                        dangerMode: true,
                    }).then((flag) => {
                            if (flag) {
                                window.location.href = '/login';
                            }
                        }
                    )
                    ;
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
                ;
            },
            error: function () {
                swal("fail", {
                    icon: "error",
                });
            }
        });
    }
</script>
</html>
