<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SmARtFitMall Payment</title>
    <link th:href="@{/mall/styles/pay.css}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
<div class="body">
    <div class="mod-ct">
        <div class="order">
        </div>
        <div class="amount" id="money">$
            <th:block th:text="${totalPrice+'.00'}"></th:block>
        </div>
        <div class="qrcode-img-wrapper">
            <div data-role="qrPayImg" class="qrcode-img-area">
                <div class="ui-loading qrcode-loading" data-role="qrPayImgLoading"></div>
            </div>
        </div>

        <div class="time-item" style="padding-top: 10px">
            <div class="time-item">
                <h1>Order#:
                    <th:block th:text="${orderNo}"></th:block>
                </h1>
            </div>
            <input type="hidden" id="orderNoValue" th:value="${orderNo}">
        </div>

        <div class="tip">
            <div class="tip-text">
                <a onclick="payOrderSuccess()"
                   class="btn btn-small btn-success" title="pay">Pay with VISA</a>
            </div>
        </div>

        <div class="tip-text">
        </div>

    </div>
    <div class="foot">
    </div>
</div>
<script type="text/javascript">
    function payOrderSuccess() {
        var orderNo = $("#orderNoValue").val();
        $.ajax({
            type: 'GET',
            url: '/paySuccess?payType=2&orderNo=' + orderNo,
            success: function (result) {
                if (result.resultCode == 200) {
                    window.location.href = '/orders/' + orderNo;
                } else {
                    alert(result.message);
                }
            },
            error: function () {
                alert("fail");
            }
        });
    }
</script>
</body>
</html>
